*.txt*
*.en2vi*
*.vi2en*
output_dir/*
__pycache__/*
*.fixed*
*_eng
*_viet
record
1st time try len()
matplot_record.py
newfile
Profiling.py
test_os.py
checkpoint
2nd len()
*.pdf
law_doc/*
law_txt/*
*.en
*.vi
medic_txt/*
medic_split/*
*_en2vi_*
*.hrefs